body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.game, .info {
    min-height: 200px;
    min-width: 300px;
}

.game {
    background-color: honeydew;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info {
    background-color: bisque;
}